---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-12 col-sm-12">
                  <h1>
                    {{ site.title }}
                  </h1>
                </div>
                <div class="meta col-12">
                  {{ site.description }}.
                  To add/edit a conference, <a target="_blank" href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">send in a pull request</a>.
                </div>
            </div>
            <br>
            <div class="row">
              <form class="container">
                <div class="row justify-content-center">
                  <div class="row align-items-md-center col-12 col-md-10">
                    <div class="col-12 col-md-5 filter-label">
                      <label for="subject-select" class="align-center" style="margin-bottom: 0px; line-height: 1.5;">
                        Subject Filter:
                      </label>
                    </div>
                    <div class="col-12 col-md-6">
                      <select
                        id="subject-select"
                        name="subject-select"
                        multiple="multiple"
                        style="display: none"
                      >
                        {% for type in site.data.types %}
                        <option value="{{type.sub}}" id="{{type.sub}}-checkbox">
                          {{type.name}} ({{type.sub}})
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="meta col-12">
                <span class="local-timezone-hide">
                  Deadlines are shown in <span class="local-timezone">America/New_York</span> time.
                  To view them in conference website timezones, click on them.
                </span>
              </div>
              <div class="meta col-12">
                You can optionally export all deadlines to
                <a href="https://calendar.google.com/calendar/r?cid={{ site.url }}/ai-deadlines.ics">Google Calendar</a> or
                <a href="/ai-deadlines.ics">.ics</a>.
              </div>
            </div>
        </div>
        <div id="confs">
        <div id="coming_confs">
          {% assign all_conferences = site.data.conferences | sort: 'deadline' | reverse %}
          <p>Debug: Total conferences: {{ all_conferences | size }}</p>
          {% if all_conferences.size > 0 %}
            <h2>Your Conferences (Test)</h2>
            <ul>
              {% for conf in all_conferences %}
                <li>
                  <strong>{{ conf.title }} {{ conf.year }}</strong><br>
                  Deadline: {{ conf.deadline }} ({{ conf.timezone }})<br>
                  Note: {{ conf.note }}<br>
                  Sub: {{ conf.sub | join: ", " }}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No conferences loaded (size = 0)</p>
          {% endif %}
        </div>
