<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{site.baseurl}}/" style="border-bottom: none;">
      Affective Comp Psych Deadlines
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler"
      aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{{site.baseurl}}/" class="nav-link">Countdowns</a>
        </li>
        <li class="nav-item">
          <a href="{{site.baseurl}}/calendar" class="nav-link">Calendar</a>
        </li>
      </ul>
      <!-- 可选：如果你想保留 GitHub star，可以改成你的 repo -->
      <!-- <iframe src="https://ghbtns.com/github-btn.html?user=yuliya-zzz&repo=affective-comp-psych-deadlines&type=star&count=true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe> -->
    </div>
  </div>
</nav>
